.users {
  width: 100%;
}
.row {
  width: 100%;
  min-height: 50px;
  background-color: rgba(128, 128, 128, 0.438);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-light {
  width: 100%;
  min-height: 50px;
  background-color: rgba(19, 44, 36, 0.438);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.ceil {
  width: 25%;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: start;
  position: relative;
}
.more {
  width: 100px;
  height: 32px;
  background-color: rgba(76, 0, 130, 0.767);
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
.more:hover > div {
  display: block;
}
.remove {
  width: 32px;
  height: 32px;
  display: flex;
  margin: 0 12px 0 auto;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.65);
  border: none;
  border-radius: 4px;
}
.remove > svg {
  margin: auto;
}
.remove > svg path {
  stroke: #fff;
}
.row-done {
  width: 100%;
  min-height: 50px;
  background-color: rgba(38, 126, 11, 0.438);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.status {
  margin-left: auto;
  width: 100px;
  height: 32px;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.done {
  background-color: #194fe7c4;
}
.undone {
  background-color: #9e9e9e;
}

.sort {
  margin: 10px;
  width: 100px;
  height: 32px;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
  background-color: #194fe7c4;
}
.active {
  background-color: #e71982c4;
}
