* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: calc(100vh - 170px);
  background-color: #1768ac8a;
  padding: 20px 30px;
}
.row {
  padding: 20px;
  width: 100%;
  min-height: 50px;
  background-color: #06bee1;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #272727;
}
.row-light {
  padding: 20px;
  width: 100%;
  min-height: 50px;
  background-color: #1768ac;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
  color: #272727;
}
.row-dark {
  padding: 20px;
  width: 100%;
  min-height: 50px;
  background-color: rgba(20, 207, 148, 0.438);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s linear;
}
h3 {
  margin: 0 0 30px;
  text-align: center;
  color: #272727;
}
