* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100vw;
  min-height: calc(100vh - 170px);
  background-color: rgba(112, 128, 144, 0.315);
  padding: 20px 30px;
}
